html {
    height: 100%;
}

body {
    background-image: url("/static/image/background.png");
    height: 100%;
}

.register-outer {
    width: 440px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
}

.register-outer h3 {
    color: #fff;
    text-align: center;
    height: 60px;
    font-size: 35px;
}

.register-inner {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    padding: 40px 50px 30px 50px;
    background: rgba(255, 255, 255, 0.3);
}

.register-inner .register-line {
    margin-bottom: 23px;
}

.register-inner .form-control {
    height: 45px;
}

.register-inner .verify-img {
    width: 130px;
    height: 40px;
    margin-left: 10px;
}

.register-inner #register-btn {
    width: 100%;
}