<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybtis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.stackoverflow.cms.dao.FileDAO">

    <resultMap id="baseMap" type="net.stackoverflow.cms.model.entity.File">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="path" column="path"/>
        <result property="time" column="time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="columns">
        id,name,path,`time`
    </sql>

    <sql id="columns_value">
        #{id},#{name},#{path},#{time}
    </sql>

    <sql id="columns_item_value">
        #{item.id},#{item.name},#{item.path},#{item.time}
    </sql>

    <select id="selectByPage" resultMap="baseMap" resultType="net.stackoverflow.cms.model.entity.File">
        select * from file
        <where>
            <if test="condition != null">
                <if test="condition.id != null">
                    id = #{condition.id}
                </if>
                <if test="condition.name != null">
                    and name = #{condition.name}
                </if>
                <if test="condition.path != null">
                    and path = #{condition.path}
                </if>
                <if test="condition.time != null">
                    and `time` = #{condition.time}
                </if>
                <if test="condition.ids != null">
                    and id in
                    <foreach collection="condition.ids" item="id" open="(" separator="," close=")">
                        #{id}
                    </foreach>
                </if>
            </if>
            <if test="key != null">
                and (name like CONCAT('%',#{key},'%'))
            </if>
        </where>
        <if test="order != null and sort != null">
            order by ${sort} ${order}
        </if>
        <if test="offset != null and limit != null">
            limit ${offset}, ${limit}
        </if>
    </select>

    <select id="selectByCondition" resultMap="baseMap" resultType="net.stackoverflow.cms.model.entity.File">
        select * from file
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="path != null">
                and path = #{path}
            </if>
            <if test="time != null">
                and `time` = #{time}
            </if>
            <if test="ids != null">
                and id in
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <select id="select" resultMap="baseMap" resultType="net.stackoverflow.cms.model.entity.File">
        select * from file where id = #{id}
    </select>

    <insert id="insert" parameterType="net.stackoverflow.cms.model.entity.File">
        insert into file (<include refid="columns"/>) values (<include refid="columns_value"/>)
    </insert>

    <insert id="batchInsert" parameterType="list">
        insert into file (<include refid="columns"/>)
        values
        <foreach collection="list" item="item" separator=",">
            (<include refid="columns_item_value"/>)
        </foreach>
    </insert>

    <delete id="delete" parameterType="string">
        delete from file where id = #{id}
    </delete>

    <delete id="batchDelete" parameterType="list">
        delete from file where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="net.stackoverflow.cms.model.entity.File">
        update file
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="path != null">
                path = #{path},
            </if>
            <if test="time != null">
                `time` = #{time}
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="batchUpdate" parameterType="list">
        <foreach collection="list" item="item" open="" close="" separator=";">
            update file
            <set>
                <if test="item.name != null">
                    name = #{item.name},
                </if>
                <if test="item.path != null">
                    path = #{item.path},
                </if>
                <if test="item.time != null">
                    `time` = #{item.time}
                </if>
            </set>
            where id = #{item.id}
        </foreach>
    </update>

</mapper>