<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.stackoverflow.cms.dao.MenuDAO">

    <resultMap type="net.stackoverflow.cms.model.entity.Menu" id="baseMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="key" column="key" jdbcType="VARCHAR"/>
        <result property="parent" column="parent" jdbcType="VARCHAR"/>
        <result property="ts" column="ts" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="where">
        <where>
            <if test="eqWrapper != null">
                <foreach collection="eqWrapper.entrySet()" index="column" item="value">
                    <if test="column != null and value != null">
                        and `${column}` = #{value}
                    </if>
                </foreach>
            </if>
            <if test="neqWrapper != null">
                <foreach collection="neqWrapper.entrySet()" index="column" item="value">
                    <if test="column != null and value != null">
                        and `${column}` != #{value}
                    </if>
                </foreach>
            </if>
            <if test="inWrapper != null">
                <foreach collection="inWrapper.entrySet()" index="column" item="values">
                    <if test="values != null and values.size() > 0">
                        and `${column}` in
                        <foreach collection="values" item="value" open="(" separator="," close=")">
                            #{value}
                        </foreach>
                    </if>
                </foreach>
            </if>
            <if test="ninWrapper != null">
                <foreach collection="ninWrapper.entrySet()" index="column" item="values">
                    <if test="values != null and values.size() > 0">
                        and `${column}` not in
                        <foreach collection="values" item="value" open="(" separator="," close=")">
                            #{value}
                        </foreach>
                    </if>
                </foreach>
            </if>
            <if test="keyWrapper != null and keyWrapper.size() > 0">
                <foreach collection="keyWrapper.entrySet()" index="key" item="columns">
                    <if test="columns != null and columns.size() > 0">
                        and
                        <foreach collection="columns" item="column" open="(" separator=" or " close=")">
                            `${column}` like CONCAT('%',#{key},'%')
                        </foreach>
                    </if>
                </foreach>
            </if>
        </where>
    </sql>

    <select id="queryCount" resultType="int">
        select COUNT(*) from `menu`
        <include refid="where"/>
    </select>

    <select id="select" resultMap="baseMap">
        select * from `menu` where `id` = #{id}
    </select>

    <select id="querySelect" resultMap="baseMap">
        select * from `menu`
        <include refid="where"/>
        <if test="sortWrapper != null and sortWrapper.size() > 0">
            order by
            <foreach collection="sortWrapper.entrySet()" index="s" item="o" separator=",">
                `${s}` ${o}
            </foreach>
        </if>
        <if test="offset != null and limit != null">
            limit ${offset}, ${limit}
        </if>
    </select>

    <insert id="insert">
        insert into `menu`
        (`id`, `title`, `key`, `parent`, `ts`)
        values
        (#{id}, #{title}, #{key}, #{parent}, #{ts})
    </insert>

    <insert id="batchInsert" parameterType="list">
        insert into `menu`
        (`id`, `title`, `key`, `parent`, `ts`)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.title}, #{item.key}, #{item.parent}, #{item.ts})
        </foreach>
    </insert>

    <delete id="delete" parameterType="string">
        delete from `menu` where `id` = #{id}
    </delete>

    <delete id="batchDelete" parameterType="list">
        delete from `menu` where `id` in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="queryDelete">
        delete from `menu`
        <include refid="where"/>
    </delete>

    <update id="update" parameterType="net.stackoverflow.cms.model.entity.Menu">
        update `menu`
        <set>
            <if test="title != null">
                `title` = #{title},
            </if>
            <if test="key != null">
                `key` = #{key},
            </if>
            <if test="parent != null">
                `parent` = #{parent},
            </if>
            <if test="ts != null">
                `ts` = #{ts},
            </if>
        </set>
        where `id` = #{id}
    </update>

    <update id="batchUpdate" parameterType="list">
        <foreach collection="list" item="item" open="" close="" separator=";">
            update `menu`
            <set>
                <if test="item.title != null">
                    `title` = #{item.title},
                </if>
                <if test="item.key != null">
                    `key` = #{item.key},
                </if>
                <if test="item.parent != null">
                    `parent` = #{item.parent},
                </if>
                <if test="item.ts != null">
                    `ts` = #{item.ts},
                </if>
            </set>
            where `id` = #{item.id}
        </foreach>
    </update>

    <update id="queryUpdate">
        update `menu`
        <set>
            <if test="upWrapper != null">
                <if test="upWrapper.id != null">
                    `id` = #{upWrapper.id},
                </if>
                <if test="upWrapper.title != null">
                    `title` = #{upWrapper.title},
                </if>
                <if test="upWrapper.key != null">
                    `key` = #{upWrapper.key},
                </if>
                <if test="upWrapper.parent != null">
                    `parent` = #{upWrapper.parent},
                </if>
                <if test="upWrapper.ts != null">
                    `ts` = #{upWrapper.ts},
                </if>
            </if>
        </set>
        <include refid="where"/>
    </update>
</mapper>