<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybtis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.stackoverflow.cms.dao.PermissionDAO">

    <resultMap id="baseMap" type="permission">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="deletable" column="deletable"/>
    </resultMap>

    <select id="selectByPage" resultMap="baseMap" resultType="permission">
        select * from permission
        <where>
            <if test="searchMap != null">
                <if test="searchMap.id != null">
                    id = #{searchMap.id}
                </if>
                <if test="searchMap.name != null">
                    and name = #{searchMap.name}
                </if>
                <if test="searchMap.description != null">
                    and description = #{searchMap.description}
                </if>
                <if test="searchMap.deletable != null">
                    and deletable = #{searchMap.deletable}
                </if>
                <if test="searchMap.ids != null">
                    and id in
                    <foreach collection="searchMap.ids" item="id" open="(" separator="," close=")">
                        #{id}
                    </foreach>
                </if>
            </if>
            <if test="key != null">
                and (name like CONCAT('%',#{key},'%') or description like CONCAT('%',#{key},'%'))
            </if>
        </where>
        <if test="order != null and sort != null">
            order by ${sort} ${order}
        </if>
        <if test="offset != null and limit != null">
            limit ${offset},${limit}
        </if>
    </select>

    <select id="selectByCondition" resultMap="baseMap" resultType="permission">
        select * from permission
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="description != null">
                and description = #{searchMap.description}
            </if>
            <if test="deletable != null">
                and deletable = #{searchMap.deletable}
            </if>
            <if test="ids != null">
                and id in
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <select id="select" resultMap="baseMap" resultType="permission">
        select * from permission where id = #{id}
    </select>

    <insert id="insert" parameterType="permission">
        insert into permission (id,name,description,deletable) values (#{id},#{name},#{description},#{deletable})
    </insert>

    <insert id="batchInsert" parameterType="list">
        insert into permission (id,name,description,deletable)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.name},#{item.description},#{item.deletable})
        </foreach>
    </insert>

    <delete id="delete" parameterType="string">
        delete from permission where id = #{id}
    </delete>

    <delete id="batchDelete" parameterType="list">
        delete from permission where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="permission">
        update permission
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="description != null">
                description = #{description}
            </if>
            <if test="deletable != null">
                deletable = #{deletable}
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="batchUpdate" parameterType="list">
        <foreach collection="list" item="item" open="" close="" separator=";">
            update permission
            <set>
                <if test="item.name != null">
                    name = #{item.name},
                </if>
                <if test="item.description != null">
                    description = #{item.description}
                </if>
                <if test="item.deletable != null">
                    deletable = #{item.deletable}
                </if>
            </set>
            where id = #{item.id}
        </foreach>
    </update>

</mapper>